@import "../abstracts/index";

.additional-text {
  cursor: pointer;
  color: $app-blue-dark-primary;
  font-weight: 500;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
}

.additional-icon {
  position: relative;
  padding-right: rem-calc(12);
  margin-top: rem-calc(-24);
  padding-bottom: rem-calc(8);
  padding-top: rem-calc(6);

  &:not(.hidden) {
    &::after {
      content: '/';
      font-weight: 600;
      font-size: rem-calc(18);
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}

.field-additions {
  position: relative;

  .has-meter & {
    &.bottom {
      .additional-text {
        position: relative;
        top: rem-calc(-16);
      }
    }
  }

  &.out-type {
    .additional-text {
      padding: rem-calc(8) 0;
    }

    .additional-left,
    .additional-right {
      position: absolute;
      bottom: rem-calc(-12);
    }

    .additional-right {
      padding-right: rem-calc(4);
      justify-content: flex-end;

      .additional-text {
        right: $border-thickness-primary;
      }
    }

    .additional-left {
      padding-left: rem-calc(4);
      justify-content: flex-start;

      .additional-text {
        left: $border-thickness-primary;
      }
    }

    .additional-left,
    .additional-right {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }

  &.in-type {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    .additional-text {
      background: $app-white;
      padding: 0 rem-calc(18);
      width: max-content;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      height: calc(100% - #{$border-thickness-primary} * 3);
    }

    .field-additional-item {
      min-height: $app-field-height;
    }

    .additional-item {

      &.right-center {
        .additional-text {
          right: calc(#{$border-thickness-primary} * 3);
        }
      }

      &.left-center {
        .additional-text {
          left: calc(#{$border-thickness-primary} * 3);
        }
      }
    }
  }
}
