@import "../abstracts/index";

.field-color.input-type-color {
  display: grid;
  grid-template-columns: 6fr 1fr;
  width: 100%;

  input {
    :not(&[type='color'])[name='color'] {
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &[type='color'] {
      &::after {
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        .invalid & {
          border-color: $dark-red;
        }
      }
    }
  }

  &.focused {
    input {
      border-color: $app-field-border-focus;

      &[type='color'] {
        &::after {
          :not(.invalid) {
            border-color: $app-field-border-focus;
          }
        }
      }
    }
  }

  &.valid {
    input {
      border-color: $app-field-border-focus;

      &[type='color'] {
        &::after {
          border-color: $app-field-border-focus;
        }
      }
    }
  }

  &.invalid {
    input {
      border-color: $app-field-border-invalid;

      &[type='color'] {
        &::after {
          border-color: $app-field-border-invalid;
        }
      }
    }
  }

}


input[type='color'] {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  position: relative;
  visibility: hidden;
  background: #FFFFFF;

  &:hover,
  &:active,
  &:focus {
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    visibility: visible;
    transition: all ease-out 140ms;
    @include stretch;
  }

  &::before {
    z-index: 1;
    box-shadow: none;
    border-radius: $app-field-border-radius;
    background: var(--v-formset-input-color-1);
    //background: attr(data-color color);
  }

  &::after {
    z-index: 25;
    opacity: 1;
    background: $v-formset-color-picker-icon no-repeat;
    background-size: rem-calc(24);
    background-position-x: center;
    background-position-y: center;
    border-left: none;
    @include app-field-border;
  }
}

#select-color-text,
.select-color-text {
  border-right: 0;
}

