@import "../abstracts/index";

.file-uploader {
  outline: 0;
  border-radius: $app-field-border-radius;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    height: rem-calc(45);
  }

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    background: $app-field-file-icon no-repeat center center;
    background-color: $white;
    border-radius: 50%;
    $dimensions: rem-calc(26);
    width: $dimensions;
    height: $dimensions;
    z-index: 5;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: rem-calc(12);
    transform: translate(-50%, 0);
  }

  input[type='file'] {
    visibility: hidden;
    position: relative;
    cursor: pointer;
    height: rem-calc(50);

    &::before,
    &::after {
      height: rem-calc(45);
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      visibility: visible;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $app-field-border-radius;
      @include dashed-border($app-field-border-active);
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      visibility: visible;
      z-index: 1;
    }

    &:hover {
      &::after {
        background-size: rem-calc(5) rem-calc(5);
        background-image: linear-gradient(45deg, transparent 45%, rgba(212, 212, 212, 1) 45%, rgba(212, 212, 212, 1) 55%, transparent 0);
        background-repeat: inherit;
        inset: rem-calc(2);
        z-index: 1;
      }

      &::before {
        @include dashed-border($app-field-border-active);
        z-index: 2;
      }
    }
  }
}

.file-field {
  border-radius: $app-field-border-radius;

  :focus-visible {
    background-size: rem-calc(5) rem-calc(5);
    background-image: linear-gradient(45deg, transparent 45%, rgb(185, 185, 185) 45%, rgb(185, 185, 185) 55%, transparent 0);

    .file-uploader {
      @include dashed-border($app-field-border-active);
    }
  }
}
