@import "../abstracts/index";

textarea,
.textarea {
  min-height: rem-calc(140);
  resize: vertical;
  transition: border 180ms ease;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.textarea {
  &.has-greeting {
    &:first-line {
      padding-bottom: rem-calc(6);
    }
  }
}

.focused {
  .label-field {
    &.multi-select {
      .smart-placeholder {
        z-index: 2001;
      }
    }
  }

  .textarea {
    &.has-greeting {
      &:first-line {
        font-weight: 600;
      }

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.icon-helper {
  height: rem-calc(28);
  width: rem-calc(28);
  padding: rem-calc(4);
  transition: ease all 220ms;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
