@use "sass:math";
@use "sass:list";

@function rem-calc($val) {
  $result: math.div($val, 16);
  @return #{$result}rem;
}

@function em-calc($val) {
  $result: math.div($val, 16);
  @return #{$result}em;
}

@function toRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

@function lightenColor($color-variable, $value) {
  $color-variable-h: var(#{$color-variable + "-h"});
  $color-variable-s: var(#{$color-variable + "-s"});
  $color-variable-l: calc(var(#{$color-variable + "-l"}) - #{$value+"%"});
  @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
}
