@import "functions";
@import "breakpoints";
@import "variables";

@mixin pseudo-background-x($color, $z-index: -1, $initialVisible: true) {
  &::before,
  &::after {
    content: '';
    background: $color;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: $z-index;
    display: none;
    @if ($initialVisible) {
      display: flex;
    }
    @include set-breakpoint(smartphone, down) {
      display: flex;
    }
  }

  &::before {
    left: -50%;
    transform: translate(-50%);
  }

  &::after {
    right: -50%;
    transform: translate(50%);
  }
}

@mixin appearence-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin user-select-initial {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

@mixin stretch {
  width: 100%;
  height: 100%;
}
@mixin dashed-background-outline() {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: rem-calc(-4);
    transition: all 240ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
    border-radius: $app-field-border-radius;
  }

  &::before {
    opacity: 1;
    background-size: rem-calc(5) rem-calc(5);
    background-image: linear-gradient(
                    45deg,
                    transparent 45%,
                    var(--app-theme-color) 45%,
                    var(--app-theme-color) 55%,
                    transparent 0);
  }

  &::after {
    background: $white;
    inset: rem-calc(2);
  }

}

@mixin dashed-background() {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: all 0ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
    margin-top: rem-calc(2);
  }

  &::before {
    opacity: 0.2;
    background-size: rem-calc(5) rem-calc(5);
    background-image: linear-gradient(
                    45deg,
                    transparent 45%,
                    rgba(0, 0, 0, 1) 45%,
                    rgba(0, 0, 0, 1) 55%,
                    transparent 0);
  }
}

@mixin dashed-border($color: $black) {
  background-image: linear-gradient(to right, $color 60%, transparent calc(60% - 10%)),
  linear-gradient(to right, $color 60%, transparent 60%),
  linear-gradient(to bottom, $color 60%, transparent 60%),
  linear-gradient(to bottom, $color 60%, transparent 60%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: rem-calc(15) rem-calc(2), rem-calc(15) rem-calc(2),
  rem-calc(2) rem-calc(15), rem-calc(2) rem-calc(15);
}

@mixin app-field-border {
  border: rem-calc(2) solid $app-field-border;
  border-radius: $app-field-border-radius;
  padding: $app-field-padding;
}

@mixin focus-visible {
  box-shadow: rgba(#000, 0.8) 0 0 0 rem-calc(2);
  border-radius: rem-calc(2);

  @include set-breakpoint(smartphone, down) {
    box-shadow: none;
  }
}
