@import "variables";

.clickable {
  cursor: pointer;
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: rem-calc(128);
}

.sub-text {
  font-size: rem-calc(15);
  color: lighten($app-black, 25%);
}

.invisible {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.centered {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
