@import "functions";
// Typography
$app-font-family: 'Hind', sans-serif;
$input-field-height: rem-calc(45);

// Base Variables
$app-blue-medium: #0582a3;
$app-blue-dark-primary: #09315f;
$app-blue-middle: #4e7390;
$app-blue-middle-focus: darken(#4e7390, 10%);
$app-field-file-icon: url('./public/assets/icons/up-arrow.svg');

// Default Colors
$black: #000;
$white: #ffffff;
$dark-red: #d44040;
$dark-red-light: lighten($dark-red, 5%);

// App Colors
$app-white: #ffffff;
$app-black: #121212;
$app-silver: #e3e9ed;
$app-green: #20C08D;
$app-orange: #f5b498;
$app-yellow: #f1eb7b;


$dark-color-1: #121212;
$dark-color-2: #181818;
$dark-color-3: #404040;
$dark-color-4: #282828;
$dark-color-5: #b3b3b3;

$dark-color-11: #15202b;
$dark-color-12: #192734;
$dark-color-13: #22303c;
$dark-color-14: #ffffff;
$dark-color-15: #8899a6;

// App Color Settings
$app-background: $app-white;
$app-font-color: $app-black;

// App Layout Settings
$app-border-radius: 0;
$card-max-width: 20em;
$app-font-bold: 600;

// App Form
$app-field-border: #5084af;
$app-field-border-focus: #0074a0;
$app-field-border-active: lighten(#0D3562, 10%);

$app-field-border-invalid: #d44040;
$app-field-border-invalid: $dark-red-light;
$app-field-border-valid: #2BAE66FF;

$app-field-border-radius: rem-calc(4);
$app-field-padding: rem-calc(12);

$app-field-transition-easing: ease;
$app-field-transition-property: all;
$app-field-transition-duration: .2s;
$app-field-height: rem-calc(45);
$border-thickness-primary: rem-calc(2);
$border-thickness-secondary: rem-calc(1);
$v-formset-color-picker-icon: url('../../../../v-formset/src/assets/icons/form/color-picker-color.svg');
$field-select-icon: url('../../../../v-formset/src/assets/icons/form/caret-down.svg');
$field-select-icon-size: rem-calc(10);


